<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Recorre tu pais</title>
    <link href="css/styles.css" rel="stylesheet">
	
  </head>
  <body class="frame">
   
    <nav class="flex justify-between bg-gray-200 opacity-80">
      <div class="h-20 w-20">
        <img
        class="mt-5 h-10 w-20"
          src="./img/dalt-transparente.png"
          alt="RecorriendoPy"
        />
      </div>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="h-20 w-100 bg-black text-white">
        <div class="mt-7 justify-center font-sans">
          <a
            class="mx-7 hover:text-slate-50 hover:underline underline-offset-4 decoration-slate-50"
            href=""
            >Nosotros</a
          >
         
        
          <a
            class="mx-7 hover:text-slate-50 hover:underline underline-offset-4 decoration-slate-50"
            href=""
            >Servicios</a
          >
          <a
            class="mx-7 hover:text-slate-50 hover:underline underline-offset-4s decoration-slate-50"
            href=""
            >Contactos</a
          >
          <div class="dropdown inline-block relative">
            <button class="mx-7 hover:text-slate-50 hover:underline underline-offset-4s decoration-slate-50">
              <span class="mr-1">Idiomas</span>
            </button>
            <div class="overflow-y-auto" >
            <ul class="overflow-y-auto dropdown-menu absolute hidden text-gray-700 pt-1">
              <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/vista2.html">Español</a></li>
              <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/vista2.html">Inglés</a></li>
              <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/vista2.html">Guaraní</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Primera cajita  -->
    <div
      class="mx-auto mt-20 bg-white rounded-full font-sans text-gray-500 w-96 h-14 flex justify-center items-center"
    >

      <div class="dropdown inline-block relative">
        <button class="mx-auto text-2xl font-semibold">
          <span class="mr-1">¿A dónde quieres ir?</span>
        </button>
        <div class="overflow-y-auto" >
        <ul class="overflow-y-auto dropdown-menu absolute hidden text-gray-700 pt-1">
          <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/vista2.html">Alto Paraná</a></li>
          <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/vista2.html">Coordillera</a></li>
          <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="/vista2.html">Itapúa</a></li>
        </ul>
      </div>
      </div>
      </div>
    
    </div>
    <div
      class="mx-auto mt-20 bg-white rounded-full font-sans text-gray-500 w-96 h-14 flex justify-center items-center"
    >

      <div class="dropdown inline-block relative">
        <button class="mx-auto text-2xl font-semibold">
          <span class="mr-1">¿Qué quieres que tenga?</span>
        </button>
        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
          <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Rampa para silla de ruedas</a></li>
          <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Acceso con animales</a></li>
          <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Personal capacitado para personas ciegas</a></li>
        </ul>
      </div>
    
    </div>
    
    <div
      class="mx-auto mt-20 bg-white rounded-full font-sans text-gray-500 w-96 h-14 flex justify-center items-center"
    >
      <a href="./vista2.html" class="mx-auto text-2xl font-semibold">¿Recomiéndame donde ir?</a>
    </div>

    <footer
      class="fixed bottom-0 left-0 z-50 w-full border-t border-gray-400 bg-white p-4 shadow dark:border-gray-600 dark:bg-gray-800 md:flex md:items-center md:justify-between md:p-6"
    >
      <p class="text-gray-800"></p>
      <br />
      <span class="text-sm text-gray-500 dark:text-gray-400 sm:text-center"
        >© 2022
        <a href="https://flowbite.com/" class="hover:underline"
          >Grupo Slytherin - Bootcamp 13 2022™</a
        >. All Rights Reserved.
      </span>
      <ul
        class="mt-3 flex flex-wrap items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0"
      >
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contact</a>
        </li>
      </ul>
    </footer>
  </body>
</html>